@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');

.topnav{
  width: 100%;
  text-align: center;
  padding-top: 15px;
  height: 50px;
  background-color: #392165;
  box-shadow: 0px 0px 10px #392165;
}


.nvbarElmnt {
  display: inline-block;
  position: relative;    
  text-decoration: none;
  background-color: none;    
  color: rgb(243, 237, 255);
  font-family: 'Lexend';
  font-size: 20px;
  margin-left: 3%;
  margin-right: 3%;   
  user-select: none;   
}

.active{
  color: rgb(163, 150, 189);
  font-size: 21px;
  pointer-events: none;
}

.nvbarElmnt::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #5727b0;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;  
}

.nvbarElmnt:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (width < 1460px) {
  body {
    display: flex;
    justify-content: top;
    align-items: top;
    height: 1700px;
    flex-direction: column;
    background-color: #191527;
    margin: 0px;    
    width: 100%;
  }

  #typing-container {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: center;  
  }

  #text {
    margin-right: 4px;
    color: rgb(243, 237, 255);
    user-select: none;
  }


  #cursor {
    display: inline-block;
    width: 12px;
    height: 28px;
    background-color: rgb(243, 237, 255);
    animation: blink-animation 1s infinite;
  }

  @keyframes blink-animation {
    0% { opacity: 0; }
    35% { opacity: 1; }
    65% { opacity: 1; }
    100% { opacity: 0; }
  }

  .grid-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    width: 100%;
  }

  .grid-container2 {
    padding-top: 100px;
    display: grid;
    grid-template-columns: auto;  
  }

  .container3 {
    margin-top: 100px;
    padding-top: 100px;    
  }

  .grid-element{
    height: auto;    
    width: 100%;
  }

  .grid-item {    
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .typing-container-div{
    padding-top: 50px;
    width: 100%;  
    float: left;
    position: relative;   
    height: 150px;
  }


  .content-index-1{
    padding-left: 20px;
    margin: auto;
    margin-top: 50px;
    width: 300px;    
    border: 3px #5727b0 solid;
    background-color: #1d182e;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-index-1-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-fill-mode: forwards;  
  }


  .content-index-2{
    padding-left: 20px;
    margin: auto;
    margin-top: 50px;
    width: 300px;    
    border: 3px #5727b0 solid;
    background-color: #1d182e;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-index-2-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 200ms;
    animation-fill-mode: forwards;  
    
  }


  .content-index-3{
    padding-left: 20px;    
    width: 300px;    
    margin: auto;
    margin-top: 50px;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-index-3-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 400ms;
    animation-fill-mode: forwards;  
    
  }

  .content-about-1{
    padding-left: 20px;
    margin: auto;
    width: 300px;    
    margin-top: 0px;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-about-1-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);    
    animation-fill-mode: forwards;  
  }

  .content-about-2{
    padding-left: 20px;
    margin: auto;
    width: 300px;    
    margin-top: 75px;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-about-2-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 100ms;
    animation-fill-mode: forwards;  
  }

  .content-about-3{
    padding-left: 20px;
    margin: auto;
    width: 300px;    
    margin-top: 50px;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-about-3-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 200ms;
    animation-fill-mode: forwards;  
  }

  .content-contact-1{    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: auto;
    width: 250px;
    /*float:left;*/
    margin-left: auto;  
    border: 1px #5727b0 solid;
    background-color: #1f1a36;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    align-items: center;
    align-content: center;   
    animation: content-contact-1-load 0.40s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 200ms;
    animation-fill-mode: forwards; 
  }

  .content-contact-2{
    padding-left: 20px;
    margin-right: 50px;
    width: 400px;
    float:right;
    border: 1px #5727b0 solid;
    background-color: #1b172c;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);    
  }
    
  @keyframes content-index-1-load {
    0% { 
      opacity: 0;        
    }

    100% { 
      opacity: 1;         
    }
  }

  @keyframes content-index-2-load {
    0% { 
      opacity: 0;        
    }

    100% { 
      opacity: 1;         
    }
  }

  @keyframes content-index-3-load {
    0% { 
      opacity: 0;        
    }

    100% { 
      opacity: 1;         
    }
  }

  @keyframes content-about-1-load {
    0% { 
      opacity: 0;        
    }

    100% { 
      opacity: 1;            
    }
  }

  @keyframes content-about-2-load {
    0% { 
      opacity: 0;        
    }

    100% { 
      opacity: 1;         
    }
  }

  @keyframes content-about-3-load {
    0% { 
      opacity: 0;        
    }

    100% { 
      opacity: 1;         
    }
  }

  @keyframes content-contact-2-load {
    0% { 
      opacity: 0;  
      margin-right: 50px;   
    }

    100% { 
      opacity: 1;   
      margin-right: 150px;       
    }
  }

  @keyframes content-contact-1-load {
    0% { 
      opacity: 0;        
    }

    100% { 
      opacity: 1;         
    }
  }

  @keyframes bgImage-load {
    0% { 
      opacity: 0;  
      right: 0px;   
    }

    100% { 
      opacity: 1;   
      right: 100px;       
    }
  }
 

  
  .footer {
    position:relative;
    bottom: 0;
    width: 100%;    
    height: 350px;
    padding-top: 5px;
    background-color: #292c2f;
    color: #bbb;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    width: 100%;
  } 



  .links {
    color: #999;
    text-decoration:none;
  }

  .links:hover {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  .col-1{
    width: 40%;
    display:block;
    float:left;
    height: 100px;
  }

  .col-2{
    width: 60%;
    display:block;
    height: 100px;          
    float: left;    
    padding-top: 25px;    

  }

  .random-kecy{
    width: 50%;
    float: right;
    font-weight: 200;
    font-size: 13px;
    padding-right: 40px;
  }


  .list-unstyled-1{
    list-style-type: none;    
    padding-left: 0;    
    width: 50%;
    float: right;
    
  }

  .list-unstyled-2{
    list-style-type: none;    
    padding-left: 0;    
    width: 100%;    
  }

  .list-unstyled-3{
    list-style-type: none;
    padding-left: 0;
    width: 50%;
    float: left;
    
  }
  .copyright{
    color:#575d64;       
    margin-top: 320px;
  }

  .fa-road{
    font-family: 'Lexend';
    font-size: 15px;
  }

  .footer-section-title{    
    font-weight: 700;
    color:#d3cddb;
    text-decoration: underline;
  }

  li:not(:last-child) { 
    margin-bottom: 5px;  
  }

  .text-href{
    color: #d6d6d6;
    text-decoration:none;
    text-decoration: underline;
  }

  .contact-li-1{    
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border: 3px #2a1e57 solid;
    border-right: none;
    border-radius: 3px;
    margin-right: 100px;    
    background-color: #1d1933;
    transition: margin-right 0.2s ease-out;
    padding-left: 5px;
  }

  .contact-li-2{
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border: 3px #2a1e57 solid;
    border-right: none;
    border-radius: 3px;
    margin-right: 90px;    
    background-color: #1d1933;
    transition: margin-right 0.2s ease-out;
    padding-left: 5px;
  }

  .contact-li-3{
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border: 3px #2a1e57 solid;
    border-right: none;
    border-radius: 3px;
    margin-right: 100px;    
    background-color: #1d1933;
    transition: margin-right 0.2s ease-out;
    padding-left: 5px;
  }

  .contact-li-4{
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border: 3px #2a1e57 solid;
    border-right: none;
    border-radius: 3px;
    margin-right: 70px;
    background-color: #1d1933;
    transition: margin-right 0.2s ease-out;
    padding-left: 5px;
  }

  .contact-li-1:hover{
    margin-right: 70px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-2:hover{
    margin-right: 60px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-3:hover{
    margin-right: 70px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-4:hover{
    margin-right: 40px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-ul{
    padding-left: 0;
  }

  .input-mail{
    float: left;
    height: 25px;
    width: 190px;        
    color: #d3cddb;
    font-family: 'Lexend';
    padding-left: 5px;
    margin: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    border: #39285a 1px solid;
    border-radius: 3px;
    overflow: hidden;
    outline: none;  
    background-color: #191527;  
  }

  .unfilled{    
    border-color: #39285a;   
    transition: border-color 0.15s ease-out;
  }

  .unfilled:focus{
    border-color: #50318d;
    transition: border-color 0.15s ease-out;
  }


  .filled{
    border-color: #28535a;    
    transition: border-color 0.15s ease-out;
  }

  .filled:focus{
    border-color: #337e8a;
    transition: border-color 0.15s ease-out;
  }

  .incorrect{
    border-color: #7a2a5c;
    transition: border-color 0.15s ease-out;
  }

  .incorrect:focus{
    border-color: #b8418a;
    transition: border-color 0.15s ease-out;
  }

  .input-message{
    width: 98%;
    height: 275px;    
    background-color: #191527;
    border:#39285a 1px solid;
    color: #d3cddb;
    font-family: 'Lexend';
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    overflow: hidden;
    resize: none;
    outline: none;
    padding: 1%;    
  }

  .input-message:focus{
    border-color: #50318d;
    transition: border-color 0.10s ease-out;
  }

  .input-submit{    
    margin-bottom: 5px;
    width: 100%;
    height: 40px;
    background-color: #5727b0;
    outline: none;    
    border:none;
    cursor: pointer;
    color: #f3edff;
    font-family: 'Lexend';    
    font-size: 20px;
    border-radius: 3px;
    overflow: hidden;    
    transition: background-color 0.15s ease-out;
  }

  .input-submit:hover{
    background-color: #7549c9;  
    transition: background-color 0.15s ease-out;
  }
}

/*   ######        #######        #######       #      ###########     #########      #######
     #     #      #       #      #       #      #           #          #       #     #       #
     #     #      #       #      #              #           #          #       #     #
     #     #      #       #      #              #           #          #########     #
     ######       #       #      #              #           #          #       #     #
     #            #       #      #              #           #          #       #     #
     #            #       #      #       #      #           #          #       #     #       #
     #             #######        #######       #           #          #       #      #######
*/
@media screen and (width >= 1460px) {
  body{
    display: flex;
    justify-content: top;
    align-items: top;
    height: 1100px;
    flex-direction: column;
    background-color: #191527;
    margin: 0px;
  }

  #typing-container {
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: center;  
  }

  #text {
    margin-right: 4px;
    color: rgb(243, 237, 255);
    user-select: none;
  }


  #cursor {
    display: inline-block;
    width: 12px;
    height: 28px;
    background-color: rgb(243, 237, 255);
    animation: blink-animation 1s infinite;
  }

  @keyframes blink-animation {
    0% { opacity: 0; }
    35% { opacity: 1; }
    65% { opacity: 1; }
    100% { opacity: 0; }
  }

  .grid-container {
    padding-top: 150px;
    display: grid;
    grid-template-columns: auto auto;  
  }

  .grid-container2 {
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto;  
  }

  .container3 {    
    padding-top: 100px;    
  }

  .grid-item {    
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .typing-container-div{
    padding-top: 50px;
    width: 53%;  
    float: left;
    position: absolute;   
  }


  .content-index-1{
    padding-left: 20px;
    margin-right: 50px;
    width: 500px;
    float:right;
    border: 3px #5727b0 solid;
    background-color: #1d182e;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-index-1-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-fill-mode: forwards;  
  }


  .content-index-2{
    margin-top: 50px;
    padding-left: 20px;
    margin-left: 50px;
    width: 500px;
    float:left;
    border: 3px #5727b0 solid;
    background-color: #1d182e;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-index-2-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 200ms;
    animation-fill-mode: forwards;  
  }


  .content-index-3{
    padding-left: 20px;
    margin-right: 150px;
    width: 500px;
    float:right;
    margin-top: 150px;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-index-3-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 400ms;
    animation-fill-mode: forwards;  
  }

  .content-about-1{
    padding-left: 20px;
    margin-left: 50px;
    width: 500px;
    float:left;
    margin-top: 0px;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-about-1-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);    
    animation-fill-mode: forwards;  
  }

  .content-about-2{
    padding-left: 20px;
    margin-left: 200px;
    width: 500px;
    float:left;
    margin-top: 25px;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-about-2-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 100ms;
    animation-fill-mode: forwards;  
  }

  .content-about-3{
    padding-left: 20px;
    margin-left: 430px;
    width: 500px;
    float:left;
    margin-top: 15px;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-about-3-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 200ms;
    animation-fill-mode: forwards;  
  }

  .content-contact-1{    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: auto;
    width: 400px;
    float:left;
    border: 1px #5727b0 solid;
    background-color: #1f1a36;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    align-items: center;
    align-content: center;
    animation: content-contact-1-load 0.40s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 200ms;
    animation-fill-mode: forwards;
  }

  .content-contact-2{
    padding-left: 20px;
    margin-right: 50px;
    width: 400px;
    float:right;
    border: 1px #5727b0 solid;
    background-color: #1b172c;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    animation: content-contact-2-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 0ms;
    animation-fill-mode: forwards;  
  }
    
  @keyframes content-index-1-load {
    0% { 
      opacity: 0;  
      margin-right: 50px;   
    }

    100% { 
      opacity: 1;   
      margin-right: 150px;       
    }
  }

  @keyframes content-index-2-load {
    0% { 
      opacity: 0;  
      margin-left: 50px;   
    }

    100% { 
      opacity: 1;   
      margin-left: 150px;       
    }
  }

  @keyframes content-index-3-load {
    0% { 
      opacity: 0;  
      margin-right: 150px;   
    }

    100% { 
      opacity: 1;   
      margin-right: 250px;       
    }
  }

  @keyframes content-about-1-load {
    0% { 
      opacity: 0;  
      margin-left: 50px;   
    }

    100% { 
      opacity: 1;   
      margin-left: 150px;       
    }
  }

  @keyframes content-about-2-load {
    0% { 
      opacity: 0;  
      margin-left: 200px;   
    }

    100% { 
      opacity: 1;   
      margin-left: 300px;       
    }
  }

  @keyframes content-about-3-load {
    0% { 
      opacity: 0;  
      margin-left: 430px;   
    }

    100% { 
      opacity: 1;   
      margin-left: 530px;       
    }
  }

  @keyframes content-contact-2-load {
    0% { 
      opacity: 0;  
      margin-right: 50px;   
    }

    100% { 
      opacity: 1;   
      margin-right: 150px;       
    }
  }

  @keyframes content-contact-1-load {
    0% { 
      opacity: 0;        
    }

    100% { 
      opacity: 1;         
    }
  }

  @keyframes bgImage-load {
    0% { 
      opacity: 0;  
      right: 0px;   
    }

    100% { 
      opacity: 1;   
      right: 100px;       
    }
  }
 

  
  .footer {
    position:relative;
    bottom: 0;
    width: 100%;    
    height: 170px;
    padding-top: 5px;
    background-color: #292c2f;
    color: #bbb;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    width: 100%;
  } 



  .links {
    color: #999;
    text-decoration:none;
  }

  .links:hover {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  .col-1{
    width: 40%;
    display:block;
    float:left;
    height: 100px;
  }

  .col-2{
    width: 60%;
    display:block;
    height: 100px;          
    float: left;    
    padding-top: 25px;    

  }

  .random-kecy{
    width: 50%;
    float: left;
    font-weight: 200;
    font-size: 13px;
  }


  .list-unstyled-1{
    list-style-type: none;    
    padding-left: 0;    
    width: 50%;
    float: right;
    
  }

  .list-unstyled-2{
    list-style-type: none;    
    padding-left: 0;    
    width: 100%;    
  }

  .list-unstyled-3{
    list-style-type: none;
    padding-left: 0;
    width: 50%;
    float: left;
    
  }
  .copyright{
    color:#575d64;    
  }

  .fa-road{
    font-family: 'Lexend';
    font-size: 15px;
  }

  .footer-section-title{    
    font-weight: 700;
    color:#d3cddb;
    text-decoration: underline;
  }

  li:not(:last-child) { 
    margin-bottom: 5px;  
  }

  .text-href{
    color: #d6d6d6;
    text-decoration:none;
    text-decoration: underline;
  }

  .background-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; /* Adjust the width as needed */
    height: 80%; /* Adjust the height as needed */
    background-image: url(images/RandomPicture.png);
    background-repeat: no-repeat;
    background-position: 50% 50%; /* Adjust the background position as needed */
    z-index: -1; /* Ensures the background stays behind other content */
    opacity: 0;
    animation: bgImage-load 0.75s cubic-bezier(0.1, 0, 0.1, 1);
    animation-delay: 250ms;
    animation-fill-mode: forwards;  
  }

  .contact-li-1{    
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border: 3px #2a1e57 solid;
    border-right: none;
    border-radius: 3px;
    margin-right: 100px;    
    background-color: #1d1933;
    transition: margin-right 0.2s ease-out;
    padding-left: 5px;
  }

  .contact-li-2{
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border: 3px #2a1e57 solid;
    border-right: none;
    border-radius: 3px;
    margin-right: 90px;    
    background-color: #1d1933;
    transition: margin-right 0.2s ease-out;
    padding-left: 5px;
  }

  .contact-li-3{
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border: 3px #2a1e57 solid;
    border-right: none;
    border-radius: 3px;
    margin-right: 100px;    
    background-color: #1d1933;
    transition: margin-right 0.2s ease-out;
    padding-left: 5px;
  }

  .contact-li-4{
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border: 3px #2a1e57 solid;
    border-right: none;
    border-radius: 3px;
    margin-right: 70px;
    background-color: #1d1933;
    transition: margin-right 0.2s ease-out;
    padding-left: 5px;
  }

  .contact-li-1:hover{
    margin-right: 70px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-2:hover{
    margin-right: 60px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-3:hover{
    margin-right: 70px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-4:hover{
    margin-right: 40px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-ul{
    padding-left: 0;
  }

  .input-mail{
    float: left;
    height: 25px;
    width: 250px;        
    color: #d3cddb;
    font-family: 'Lexend';
    padding-left: 5px;
    margin: 5px;
    margin-left: 0px;
    border: #39285a 1px solid;
    border-radius: 3px;
    overflow: hidden;
    outline: none;  
    background-color: #191527;  
  }

  .unfilled{    
    border-color: #39285a;   
    transition: border-color 0.15s ease-out;
  }

  .unfilled:focus{
    border-color: #50318d;
    transition: border-color 0.15s ease-out;
  }


  .filled{
    border-color: #28535a;    
    transition: border-color 0.15s ease-out;
  }

  .filled:focus{
    border-color: #337e8a;
    transition: border-color 0.15s ease-out;
  }

  .incorrect{
    border-color: #7a2a5c;
    transition: border-color 0.15s ease-out;
  }

  .incorrect:focus{
    border-color: #b8418a;
    transition: border-color 0.15s ease-out;
  }

  .input-message{
    width: 98%;
    height: 373px;    
    background-color: #191527;
    border:#39285a 1px solid;
    color: #d3cddb;
    font-family: 'Lexend';
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    overflow: hidden;
    resize: none;
    outline: none;
    padding: 1%;    
  }

  .input-message:focus{
    border-color: #50318d;
    transition: border-color 0.10s ease-out;
  }

  .input-submit{    
    margin-bottom: 5px;
    width: 100%;
    height: 40px;
    background-color: #5727b0;
    outline: none;    
    border:none;
    cursor: pointer;
    color: #f3edff;
    font-family: 'Lexend';    
    font-size: 20px;
    border-radius: 3px;
    overflow: hidden;    
    transition: background-color 0.15s ease-out;
  }

  .input-submit:hover{
    background-color: #7549c9;  
    transition: background-color 0.15s ease-out;
  }

  .login-button-wrapper{
    height: 40px;
    width: 100%;
  }  

  .login-button{   
    margin: 0; 
    font-family: 'Lexend';
    font-size: 20px;
    /*padding-top: 7px;*/
    padding: 5px;
    float: right;  
    text-align: center;    
    margin-top: 15px;  
    margin-right: 20%;
    color: #f3edff;    
    border: #f3edff 1px solid;
    border-radius: 4px;
    transition: all 0.1s ease-out;
  }

  .login-button:hover{
    color: #b8b0c9;    
    border-color: #b8b0c9;
    transition: all 0.1s ease-out;
  }

  .login-title{
    font-family: 'Lexend';
    color: #f3edff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }

  .content-login-1{    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: auto;
    width: 265px;    
    border: 1px #5727b0 solid;
    background-color: #1f1a36;
    border-radius: 5px;
    overflow: hidden;   
    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    align-items: center;    
    justify-content: center;
  }

  .login-form{
    align-items: center;
    justify-content: center;
    align-items: center;    
  }

  .input-mail-login{
    position: relative;
    height: 25px;
    width: calc(100% - 12px);   
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 3px;
    margin-bottom: 15px;
    color: #d3cddb;
    font-family: 'Lexend';    
    border: #39285a 1px solid;
    border-radius: 3px;
    overflow: hidden;
    outline: none;  
    background-color: #191527;  
  }

  .label-mail{
    font-size: 12px;    
  }

  .label-password{
    font-size: 12px;    
  }

  .input-password{
    position: relative;
    height: 25px;
    width: calc(100% - 12px);   
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 3px;
    /*margin-bottom: 25px;*/
    color: #d3cddb;
    font-family: 'Lexend';    
    border: #39285a 1px solid;
    border-radius: 3px;
    overflow: hidden;
    outline: none;  
    background-color: #191527;  
  }

  .password-container{
    position: relative;
    height: 25px;
    width: calc(100%); 
    margin-top: 3px;
    margin-bottom: 12px;
    padding: 0;
  }

  .fa-eye{
    position: absolute;
    top: 36%;
    right: 4%;
    cursor: pointer;
    color: #5727b0;
  }

  .fa-eye:hover{
    color: #7549c9;
  }

  .fa-eye-slash{
    position: absolute;
    top: 36%;
    right: 3.6%;
  }

  .login-container{
    margin-top: 150px;
  }

  .login-problem-links{
    width: 100%;    
    margin-bottom: 25px;
    height: 15px;
  }

  .link-login-problem-left{
    text-decoration: none;
    color: #b8b0c9;
    float: left;
    font-size: 10px;
  }

  .link-login-problem-right{
    text-decoration: none;
    color: #b8b0c9;
    float: right;
    font-size: 10px;
  }

  .link-login-problem-left:hover{
    text-decoration: underline;
    color:#8a6ecc;
  }

  .link-login-problem-right:hover{
    text-decoration: underline;
    color:#8a6ecc;
  }

  /* ######################################################################################################
                                                  search
     ###################################################################################################### */

  .teacher-search-menu-wraper{
    margin-top: 15px;
    height: 40px;    
  }

  .teacher-search-menu-item{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;    
    width:150px;
    font-family: 'Lexend';    
    text-decoration: underline;
    color: #b8b0c9;
    user-select: none;
    text-align: center;
    float:right;
  } 

  .teacher-search-menu-item:hover{    
    color: #8a6ecc;
    cursor: pointer;
  }

  .input-teacher{
    position: relative;
    height: 25px;
    width: calc(100% - 12px);   
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 3px;
    /*margin-bottom: 25px;*/
    color: #d3cddb;
    font-family: 'Lexend';    
    border: #39285a 1px solid;
    border-radius: 3px;
    overflow: hidden;
    outline: none;  
    background-color: #191527;  
  }

  .teacher-search-container{
    position: relative;
    height: 25px;
    width: 250px; 
    margin-top: 3px;
    margin-bottom: 12px;
    margin-right: 10%;
    margin-left: 15px;
    padding: 0;
    float:right;    
    
  }

  .fa-magnifying-glass{
    position: absolute;
    top: 36%;
    right: 4%;
    cursor: pointer;
    color: #5727b0;
  }

  .fa-magnifying-glass:hover{
    color: #7549c9;
  }

  .list-description{
    width: auto;
    height: 40px;
    float:right;
    border-bottom: 2px #523e6d solid;
    margin-right: 110px;       
  }

  .list-desription-element{
    position: relative;
    float: right;
    font-family: 'Lexend';
    color: #d3cddb;    
    padding-left: 100px;
    padding-right: 100px;  
    width: 145px;  
  }

  .list-desription-element ~ .list-desription-element{
    border-right: #d3cddb 4px dotted;    
  }

  .teacher-list{
    height: 200px;
    width: 1100px;
    float:right;
  }

  .teacher-list-description-div{
    height: 40px;
    
  }

  .teacher-list-teacher-li{
    height: 100px;
    margin-right: 4px;
    width: 1043px;
    float: right;
    border: #5727b0 1px solid;
    border-radius: 10px;
    background-color: #1c162c;
    list-style-type: none;
    transform-style: preserve-3d;
    will-change: transform;
    /*transition: transform 0.1s ease;*/
  }

  .teacher-list-teacher-li::before {
    content: "";    
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .teacher-list-li-content{
    margin-top: 35px;
  }
  

}

h1{
  text-decoration: underline;
  text-underline-offset: 4px;
  user-select: none;
}

h2{
  text-decoration: underline;
  text-underline-offset: 3px;
  user-select: none;
}

a{
  text-decoration: none;
  color: rgb(174, 169, 184);
}

a::-moz-selection { /* Code for Firefox */
  color: rgb(195, 189, 206);
  background: rgb(57, 33, 101)
}

a::selection {
  color: rgb(195, 189, 206);
  background: rgb(57, 33, 101)
}

p::-moz-selection { /* Code for Firefox */
  color: rgb(174, 169, 184);
  background: rgb(57, 33, 101)
}

p::selection {
  color: rgb(174, 169, 184);
  background: rgb(57, 33, 101)
}

li::-moz-selection { /* Code for Firefox */
  color: rgb(174, 169, 184);
  background: rgb(57, 33, 101)
}

li::selection {
  color: rgb(174, 169, 184);
  background: rgb(57, 33, 101)
}


.numbered-list {
  list-style-type: decimal;
}


ul{
  list-style-type: disc;
}

.contact-type{
  color: rgb(97, 93, 105);
  user-select: none;
}


.contact-row p {
  margin:0;
  padding:0;
  
  margin-right: 5px;
  display: inline-block;  
}

.contact-person{
  /*text-decoration: underline;*/
  text-underline-offset: 2px;
  user-select: none;
  margin-top: 4px;
  color: rgb(74, 72, 78);
}

.contact-value:hover{
  color: rgb(182, 177, 194);
  cursor: pointer;
}

.contact-value{
  user-select: none;
}

.contact-value-none{  
  color: rgb(70, 67, 77);
  font-size: 15px;
  cursor: not-allowed;
}

.contact-value-none:hover{    
  cursor: disabled;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {  
  width: 120px;
  background-color: #392165;
  color: rgb(182, 177, 194);
  text-align: center;
  /*border: 2px #5727b0;*/
  border-bottom: 2px #5727b0 solid;
  border-left: 2px #5727b0 solid;
  border-radius: 0px 0px 0px 4px;
  padding: 5px 3px;
  position: relative;
  float: right;
  opacity: 0;
}


@keyframes tooltip-transition-show {
  0% { 
    opacity: 0;     
  }

  100% { 
    opacity: 1;        
  }
}

@keyframes tooltip-transition-hide {
  0% { 
    opacity: 1;     
  } 
  
  100% { 
    opacity: 0;     
  }
}

.loader {
  margin-left: 10px;
  margin-top: 3px;
  border: 5px solid #1f1a36;
  border-radius: 50%;
  border-top: 5px solid #5718ce;
  width: 20px;
  height: 20px;
  animation: spinner 0.5s linear infinite;
  float:left;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* vypnout scroll bar */
::-webkit-scrollbar {
  width: 0;/*12px;*/
}

.center{
  margin: auto;
  align-items: center;
}

.text-center{
  text-align: center;  
}

.right{
  float:right;
}

.left{
  float:left;
}


.shiny {
  color: white;
  position: relative;
  overflow: hidden;
}

.shiny::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 500px);
  left: calc(var(--x, 0) * 1px - 500px);
  width: 1000px;
  height: 1000px;
  background: radial-gradient(rgba(255, 255, 255, 0.11), #ffffff00 70%);

  opacity: 0;
  transition: opacity 0.75s;
}

.shiny:hover::after {
  opacity: 0.4;
}

.scroll-wiew{
  overflow:scroll; 
  height:600px;
  width: 1070px;
  overflow-x: hidden;
  margin-right: 100px;
  padding-bottom: 10px;
  border-bottom: 2px #523e6d solid;
}

.scroll-wiew::-webkit-scrollbar{
  width: 5px;
}

.scroll-wiew::-webkit-scrollbar-track{
  background-color: #423850;
}

.scroll-wiew::-webkit-scrollbar-thumb{
  background-color: #d3cddb;
}

